* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.all {
    padding: 10px;
    gap: 7px;
    max-width: 300px;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 20px;
}
button {
    width: 120px;
    height: 40px;
    cursor: pointer;
}
.add-btn{
    border: 0.2px solid;
    border-left: unset;
}
input {
    border: 0.2px solid;
    border-right: unset;
    padding-inline-start: 5px;
}
.input-div {
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.todo-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-top: 2px solid black;
    max-height: 400px;
    overflow: scroll;
    padding-top: 7px;
    overflow: hidden;
    gap: 4px;
}
.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
label input {
   margin: 5px;
   font-size: 25px;
}
.todo-left-div, .clear-div {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.todo-left {
    border: 1px salmon;
    border-radius: 10px;
    padding: 10px;
}
.clear-btn {
   max-width: 120px;
   display: block;
   text-transform: capitalize;
   border: unset;
   border-radius: 10px;
}
.remove-btn {
    width: 70px;
    height: 28px;
    border-radius: 7px;
    border: unset;
}